
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

/*Barra de navegación*/

    .carousel-inner > .carousel-item {
        height: 50vw;
    }
        

/*Formulario*/

 
  input[type=text], input[type=date], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #001CFF ;
    color: white;
    font-size: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
  }
  
  input[type=submit]:hover {
    background-color: #6b6de9;
  }
  
  .container {
    border-radius: 15px;
    background-color: black;
    padding: 40px;
    margin-top: 100px;
    color: white;
    font-size: 20px;
    font-weight:900
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .button_submit{
      display: flex;
      justify-content: center;
  }

  /*Pie de página*/
  footer{
      display: flex;
      justify-content: center;
     
  }
  .footer-style{
     
      margin-top: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
      
  }